.venv/
debug.log
.env
.env.docker
__pycache__/
htmlcov/
.pytest_cache/
.coverage
dist/
build/
*.egg-info/
alembic/versions/*.py
!alembic/versions/__init__.py
*.pyc
*.pyo
*.pyd
.Python
*.so
ENV/
.git/
